@if (isadding) {
  <app-new-task [userid]="id"  (oncancel)="ontaskcancel()"/>
}


 <app-card>
<section id="tasks">
  <header>
    <h1>{{ name }}'s Tasks</h1>
    <button (click)="newtask()">Add Task</button>
  </header>

  <ul>
    @for (task of selectedusertasks; track task.id) {
      <li>
        <app-task 
          [task]="task" 
         (complete)="taskcompleted($event)"
        />
      </li>
    }
    @empty {
      <li class="no-tasks">No tasks available</li>
    }
  </ul>
</section>
 </app-card>
