$redcolor: red;

header {
  margin-top: 0;
  background-color: rgb(39, 44, 89);
  height: 100px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  position: sticky;   
  top: 0;             
  z-index: 1000;     

  img {
    height: 60px;
    border-radius: 50%;
  }

  h1 {
    color: $redcolor;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
  }
}
