main {
  display: flex;
  justify-content:flex-start;
  padding: 30px;
  background-color: #fafafa;
  //min-height: 100vh;

  ul#users {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1200px;

    li {
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
      padding: 5px;
      max-height: 60px ;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }

      app-user {
        display: block;
        width: 100%;
      }
    }
  }
}
